<body>
  <span>
    Uggadunk V3.0 immortal and less amazing stuff?
  </span>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <h3>Hej och välkommen till Uggadunks bugg!</h3>
      Vad heter du?
      <input type='text'>
      <button (click)='onClick()'>Ange</button><br>
      <label>{{ labelResult }}</label>
      <div>
      <H1>Sagan om Älghuds-Bengt</H1>
      <br>
      ca 1988<br>
      <br>
      <br>
      Kapitel 1<br>
      <br>
      [G]<br>
      Det var en gång en gube som bodde i en stuga långt ute i <br>
      skogen. En dag kom det en dammsugarfölsäljale till Hans <br>
      stuga långt ute i skoget. Damsugarförsäljaren kom till <br>
      dörren och knackade på. Efter fem minuter öppnade <br>
      Älghuds-Bengt fönstret och tittade på <br>
      damsugarförsäljaren.<br>
        "Hej på dej!" sa Älghuds-Bengt.<br>
      <br>
      [A]<br>
        "Hej Hans!" sa fölsäljalen, eftersom guben hette så. <br>
      (guben alltså, inte Älghuds-Bengt.)<br>
      <br>
      [P]<br>
        "Jag heter inte Hans", sa Älghuds-Bengt,"jag är bara <br>
      på besök här". Hans (som sitter inne i stugan) ropar:<br>
        "Är det du Greta lilla?" varpå försäljaren svarar:<br>
      <br>
      [T]<br>
        "Nej, pucko! Jag är ju damsugarförsäljaren. Nu kommer <br>
      jag in!" varpå han gjorde det. Älghuds-Bengt sade:<br>
        "Hej, din man! Jag är Älghuds-Bengt! Jag är fin."<br>
        "Jaså du" sade damsugarförsäljaren.<br>
      <br>
      [G]<br>
        "Har du någon ström?" frågte säljalen Bengt med huden <br>
      av en älg.<br>
        "Ja" sa han,"två, minst."<br>
        "Synd, ty jag hatar sånt. Titta, den här är en blå <br>
      Philips! Med dubbelslangsystem och påse! 30.0 kr per <br>
      påse."<br>
      <br>
      [U]<br>
        "Det ryms tre damer i varje påse" sade försäljaren.<br>
        "Ojdå, ryms även ÄlghudsHelga i en sådan påse?" <br>
      frågade Bengt när han ömsade skinn.<br>
        "Det är tveksamt" sade försäljaren som hette Åke.<br>
        "Vill du också sjunga?" sade Bengt.<br>
        "JAA!"<br>
      <br>
      [A]<br>
      Åke, Hans och den ömsade älghuden sjöng tillsammans:<br>
        "Vi sätter oss i ringen och tar varann i hand<br>
         Vi sitter hop tillsammans och tycker om varann<br>
         Vi äter upp varandra och spyr en liten stund"<br>
      <br>
        "Apropå ÄlghudsHelga så är hon ju faktiskt ingen dam, <br>
      därav anledning på grund av."<br>
        "Får jag lov att demonstrera?" sa Åke.<br>
      <br>
      [P]<br>
        "Ja gärna" sa Hans.<br>
      Just då knackade det på dörren och en dam stod utanför.<br>
        "Kom in" sa Åke,"så skall du få se." Med ett WROOM <br>
      gick damsugaren igång. Men när Åke skulle suga upp damen <br>
      så stänkte det blod och slamsor eftersom Åke hade tagit <br>
      gräsklipparen med sig istället.<br>
      <br>
      [T]<br>
        "Hoppsan" sade Bengt,"det gick ju över förväntan det <br>
      här."<br>
        "Ja" sade Åke,"det är effektiva damsugare vi har." Då <br>
      hördes ett muller utanför huset. Bengt och Åke tittade <br>
      ut. <br>
        "Tjong i älghuden !!!" utbrast Bengt. Där utanför <br>
      stod 5892 damer som av en slump passerade förbi.<br>
      <br>
      [G]<br>
        "OJ" ropte Bengt utan älghud,"skall dom eller vi suga <br>
      först?"<br>
        "Dom!" tyckte Åke, "lalle", Hans, Stuga (som dom <br>
      bodde i)<br>
        "Kom och sug" ropte Bengt,"två led och en i taget." <br>
      Lutade mot sugen blev de sugna i två timmar.<br>
      <br>
      [U]<br>
        "Ni suger bra" sade Åke till damerna.<br>
        "Jomenvisst, nånting måste man ju få i magen" sade <br>
      Berit-Lisa-Olga-Wilma-Jane-Olga-Berit.<br>
        "Imse Vimse, det här var ju bättre än ÄlghudsHelga" <br>
      sade Bengt som nu fått ny krokodilhud.<br>
      <br>
      [A]<br>
        "Nu suger vi" sa Krokodilhuds-Bengt till Åke, satte <br>
      på sugaren och gjorde pyttipanna av resterna. Pyttipanna <br>
      med vitsås.<br>
      <br>
      <br>
      Kapitel 2<br>
      <br>
      [P]<br>
      Just när Krokodilhuds-Bengt skulle ta sin första tugga <br>
      pyttipanna med vitsås kom den stora stygga jätten Helge-<br>
      Alf.<br>
        "Om ni inte ger mig nåt att äta så stampar jag på <br>
      erat hus" sa Helge-Alf. Eftersom Helge-Alf är 40 meter <br>
      hög och väger 86532 kg utan kläder så tyckte Hans att<br>
      <br>
      [T]<br>
      de borde åtgärda situationen.<br>
        "Du krokodilhuds-Bengt" sade Sälj-Åke,"liknar inte <br>
      Helge-Alfs fot en dam till 103 %?"<br>
        "Jo" sa Krokodilhuds-Bengt.<br>
        "Snabbt" ge mig sugaren!" Slfzbrpxschtj! (ljudeffekt <br>
      i realtid.)<br>
        "Här har du, Helge-Alf" sade Bengt.<br>
        "Tack ska ni ha" sade Helge-Alf,"det var momsig." <br>
      (Detta gjorde inget, eftersom jätten Helge-Alf har 13 <br>
      fötter.)<br>
        "Uähhh!" ropade Åke.<br>
        "Va ä hä?" frågade Bengt.<br>
        "Ett ufo! Titta där uppe!"<br>
      <br>
      [G]<br>
      Svirr svirr lät det när det svepte över huset och landade <br>
      långt bort i skogen.<br>
        "Jaha" sa säljaren,"det var väl kul. Det var min <br>
      nyaste Elektrolux som blev levererad till Trulsa i <br>
      svängen. Snygg va?"<br>
        "Titta dära" sa Bengt,"ett ufo?" och pekade på noge <br>
      slemmit som flög omkring bland molnena.<br>
      <br>
      [U]<br>
        "Nej, den är bara kvar sen sugningen" sade <br>
      damsugarförsäljaren.<br>
        "Nej, nu blir jag sur" sade dammsugarfölsäljalen,"jag <br>
      vill demonstrera min apparat !!"<br>
      <br>
      [A]<br>
        "Vad har du?" frågade Hans, som var en tyst och <br>
      försynt gube.<br>
        "En fantastisk apparat! Den suger damm och vissna löv <br>
      och andra löv och sedlar och aska och pyttipanna och <br>
      älghudsslamsor och grus och hårstrån och gråsuggor och<br>
      <br>
      [P]<br>
      annat som man vill bli av med."<br>
        "Toppen" sa Krokodilhuds-Bengt,"den måste jag prova."<br>
        "Vad ska vi prova på" sa Åke,"vi provar på Helge-Alf" <br>
      sa damsugarförsäljaren.Fölsäljalen staltade sin appalat <br>
      och började suga upp Helge-Alf. Men då<br>
      <br>
      [T]<br>
      hördes ett muller och allt blev vitt. Marken täcktes av <br>
      ett tjockt lager snö, fast det var mitt i juli.<br>
        "Vad nu?" frågade Bengt.<br>
        "Just vad jag trodde" sa Hans,"Jag visste att den <br>
      skulle komma."<br>
        "Vad är det?" frågade försäljaren.<br>
        " Det är Istiden."<br>
        <br>
      [A]<br>
        "Mamma!" ropade Helge-Alf.<br>
        "Min son" mullrade Istiden, Helge-Alfs mamma, som <br>
      lider av en förskräcklig mjällbildning,"är de små <br>
      farbröderna stygga mot dej?"<br>
        "Nejdå, inte alls" svarte Helge-Alf,"vi leker så fint <br>
      tillsammans. Dom gav mej en av mina fötter att äta förut, <br>
      och den var så god."<br>
      <br>
      [U]<br>
        "Varsågod!" sa Krokodilhuds-Bengt som nu ännu en gång <br>
      började ömsa skinn.<br>
        "Men det är väldigt kallt" tyckte <br>
      damsugarförsäljaren.<br>
        "Jag kom bara för att hämta Helge-Alf" sa <br>
      Istiden,"Kom nu med hem och ät middag."<br>
        "Ja, mamma" sa Helge-Alf.<br>
        "Skönt att slippa honom" sade Förhuds-Bengt.<br>
      <br>
      [G]<br>
      Sakta men säkert Bengan fram sina skidor och begav sig ut <br>
      på ett Wasalopp. Hans hus fastnade i förhuden. Damsugaren <br>
      satt och sög sig själv när han såg Helge-Alf och Istiden <br>
      skutta lyckligt och glatt bort i solnedgången. <br>
      Fölsäljalen älgade bort till en älgig koppalplåt och lade <br>
      sig att sova. <br>
      <br>
      <br>
      Kapitel 3<br>
      <br>
      Då plötsligt<br>
      <br>
      [P]<br>
      kom sju små dvärgar gående mot huset. Hans, som var den <br>
      enda som såg dvärgarna, trodde att de letade efter Snövit <br>
      eftersom han läst sagan om Snövit och de sju dvärgarna <br>
      nyligen. När dvärgarna kom fram tyckte Hans att de såg <br>
      lite konstiga ut. De var klädda i läder och nitar och <br>
      hade örhängen i öronen. "Mycket konstigt, så stod det <br>
      inte i sagan" tänkte han. Den fulaste dvärgen, som hade <br>
      en stor ring i näsan, kom fram till Hans och sade:<br>
        "Öhhurhuf!" Hans förstod inte alls vad han menade <br>
      utan försökte förklara att det inte fanns nån Snövit här. <br>
      Då blev dvärgen arg och sa:<br>
      <br>
      [T]<br>
        "Mö%ugh!" sedan gick han fram och tog ett strypgrepp <br>
      på Hans.<br>
        "Vänta,vänta" skrek Förhuds-Bengt, som nu kom <br>
      tillbaka från sitt Wasalopp,"jag kan dvärgspråket!" Han <br>
      slet av sig skidorna och klängde av sig huset som hade <br>
      börjat växa fast. Han gick fram till Den_Fulaste_Dvärgen, <br>
      som han hette.<br>
        "Bghhappuq ngo Sn%wiidh" sade Förhuds-Bengt. <br>
      Den_Fulaste_ Dvärgen veknade direkt och blev snäll. Han <br>
      sa:<br>
      <br>
      [A]<br>
        "Uaekkh uppadooh ngjt Sn%wiidh. Hppqrl fåttar <br>
      Erlinghwiidh."<br>
        "Jaha" sade Bengt med huden före,"Bghhappuq ngo <br>
      Erlinghwiidh."<br>
        "Blupp" sa då dvärgarna i kör och avlägsnade sig i <br>
      samlad tropp.<br>
        "De letade efter 'Den Ärlige Vite Mannen Som Inte <br>
      Talar', och han finns ju inte heller här" sa Förhuds-<br>
      Bengt till Hans, och somnade utmattad vid ugnen.<br>
        "Men Greta då?" undrade fölsäljalen.<br>
      <br>
      [U]<br>
        Va' ere me' mej dö?" sa Greta och tittade på <br>
      fölsäljalen med sina tre ögon. Fölsäljalen blev väldigt <br>
      förskräckt när han såg de tre ögonen och sprang iväg till <br>
      Kuala-Lumpur, men han glömde sugaren och Greta blev glad.<br>
      <br>
      <br>
      Kapitel 4<br>
      <br>
      Plötsligt hördes en konstig röst inifrån skogen och ett <br>
      ansikte stack fram.<br>
        "Hjälp!!!! det är den Oärlige Svarte Mannen" sade <br>
      Bengan och blev så rädd att han tappade förhuden.<br>
      <br>
      [G]<br>
        "Lugn" sade Damsugaren glatt,"de e brorsan. Han <br>
      kommer för att rädda oss från den stora gröna Ucken borta <br>
      hos Trulsa i Träsket."<br>
        "Har du med dig klöbba?" frågte Sugardamsugaren.<br>
        "Nä" sade den svarte fule,"men skridskorna."<br>
        "Bra" sade damsugaren, och så lullade de båda tätt <br>
      omslingrade om varandra för att tälja halsen av stygga <br>
      ucken. Bengt försökte förgäves få på sig huden igen, men <br>
      den var sprucken.<br>
      <br>
      [P]<br>
      För er som inte vet vad en uck är kommer här ett utdrag <br>
      ur THE STORY OF THE SLIMY UCK: "The slimy uck is a green <br>
      slimy ugly bastard." Det är väl ungefär allt som finns <br>
      dokumenterat om Ucken. Men tillbaks till vår historia. <br>
      Damsugaren och hans bror ser vi nog aldrig mer. Bengan <br>
      har problem med sin spruckna förhud. The author of the <br>
      story is very confused. He is changing language. But then <br>
      the chairman of HSS (håll Sverige svenskt) comes and hits <br>
      him on the head with a Swedish dictionary and han övergår <br>
      till svenska igen.<br>
      <br>
      [T]<br>
        "Guäaehqq" skrek Bengt när han tappade sin hud. <br>
      Samtidigt började han ömsa igen. Han följde efter <br>
      Damsugaren & Bros. för att plåga uck.<br>
        "Hej Damsugare" sa han till Damsugaren."Jag följer <br>
      med er för att tälja ucken."<br>
        "Okäjj" sa Damsugaren. De vandrade i två år och till <br>
      slut kom de fram till stora porten till Ucklandet.<br>
        "Tjolahopp" sa Fiskfjälls-Bengt.<br>
        "VAD VILL NI?!!!" ropade en vakt i porten.<br>
      <br>
      [A]<br>
        "Tälja Uck" sade Fiskfjälls-Bengt.<br>
        "Det tycker dom om" sade vakten i porten,"så välkomna <br>
      in. Bara öppna porten och träd in i Uckarnas rike." <br>
      Damsugaren & Bros öppnade porten med vakten i.<br>
        "Hur kan du få plats inuti porten? Den är ju bara fem <br>
      cm tjock?" frågade Bros. Medan han (Bros) väntade på svar <br>
      gick Fiskfjälls-Bengt hem till Hans igen för han ville <br>
      MÖRDA, inte roa Uckarna.<br>
      <br>
      [U]<br>
        "Uckiuckiuckiuckiuck" sade en Uck till Bros, då gick <br>
      Bros hem.<br>
      <br>
      [G]<br>
      Damsugaren mölja på mä skriskon och täljde Uckar tills <br>
      han tappa sugen, föll ihop och drunknade i träsket.<br>
      <br>
      <br>
      Kapitel 5<br>
      <br>
      Hemma vid huset satt Bengt och visslade en Hit av Torsson <br>
      och pillade sig i naveln och hade det gott och skönt. <br>
      Borta i skogen hördes ett mysko ljud. <br>
      <br>
      [P]<br>
      WIRR WIRR. Närmare och närmare WIRR. "Vad kan det vara" <br>
      tänkte Bengt. Plötsligt såg han <br>
      <br>
      [T]<br>
      en TV. På TV visades Trafikmagasinet med Christer <br>
      Gnelling som demonstrerade en Volvo Duett -62. Den hade <br>
      slitna skivbromsar som lät WIRR WIRR hela tiden. <br>
      Plötsligt bröts sändningen.<br>
        "Häj å välkomne te Hans Pirat-TV. Nu hade ja tänkt å <br>
      vise en show mä Berit i Böckelhöjda." <br>
      <br>
      [G]<br>
      Det var Hans som hade vänt batterierna bakochfram i Bros <br>
      (Damsugarens bror, Trulsas i Svängen (Träsket) nya <br>
      Elektrolux) och fått den att fungera som en TV-sändare. <br>
      Han hade riggat upp slangen på Bros mot Berit som låg och <br>
      fläkte sig på kökssoffan tillsammans med Tuppen Jan och <br>
      en brödkavel. Bengt blev förvirrad och tappade alla sina <br>
      fjäll.<br>
      <br>
      [A]<br>
      Visserligen var Berit rätt lik en Volvo Duett -62, men <br>
      det var brödkaveln som förvirrade Gåshuds-Bengt så. Det <br>
      var nämligen samma kavel som ÄlhudsHelga hade jagat ut <br>
      honom med den gången för fyra år sedan då han först kom <br>
      till Hans stuga. Nu såg kaveln ut att ha en betydligt <br>
      trevligare tillvaro. Apropå det, eller så, kom Gåshuds-<br>
      Bengt på att han var hungrig. "Undrar om det finns något <br>
      kvar av den där pyttipannan? Kanske rent av med såna dära <br>
      goe gröne tråder på."<br>
      <br>
      [P]<br>
      Medans Bengt satt och drömde bytte Hans program, eftersom <br>
      Berit hade gjort slut på både tuppen och brödkaveln. Han <br>
      övergick till våldsfilmer i vilka han själv medverkade <br>
      (utklädd förståss). Tyvärr var hans Elektrolux för <br>
      realistisk vilket resulterade i att det stänkte blod i <br>
      vardagsrummet hemma hos Lisa-Stina. Lisa-Stina blev så <br>
      arg att hon anmälde Hans för radionämnden.<br>
      <br>
      [U]<br>
      Just då avslöjade Åke sin rätta identitet, han var <br>
      pejlare för Televerket. Eftersom varken Hans eller Bengt <br>
      med gåshuden som höll på att ramla av hade betalat TV-<br>
      licens de senaste 429 åren så blev Åke arg. Åke ringde <br>
      efter polisen och efter en stund kom den elake polisen <br>
      alias Svullo.<br>
      <br>
      [T]<br>
      Klamp klamp lät det nät Svullos skor stl. 107 slog i <br>
      backen.<br>
        "Öööhhh!!!!" vröla Svullo. Bonk bonk lät det när hans <br>
      stora batong smattrade mot Hans och Bengts huvuden. Då <br>
      lossnade gåshuden.<br>
        "Skona oss" bönade Ormskinns-Bengt.<br>
        "Vrööörgh!" bölade Svullo och tog med sig Hans och <br>
      Bengt till polisstationen.(Där satt Åke och fyllde i en <br>
      polisanmälan.)<br>
        "Här dömer vi folk utan domstol" sa Svullo, "Ni får <br>
      sitta i den här cellen. Jag kanske släpper ut er nån <br>
      gång. Om jag får lust."<br>
        "Buu huu" grinade Hans och Ormskinns-Bengt. Då hördes <br>
      en röst från cellen bredvid:<br>
      <br>
      [G]<br>
        "Dunder och kaninögon, läderlappen" hördes dämpat <br>
      genom väggen.<br>
        "BATMAN" skrek Hans och Bengt i kör. Och vips kom en <br>
      batvisp genom väggen. Efter en stund var det ett stort <br>
      hål i väggen och THE DYNAMIC DUO hoppade in.<br>
        "SHIT och snus"sade BOY WONDER,"detta är inte Svålen.<br>
        "Nej, nej, han har lurat oss igen, den store Svålen. <br>
      Nu gör han inbrott hos Trulsa i Träsket i stället. Vi <br>
      måste få tag på den nya Elektroluxen före honom." Hans <br>
      och Bengt gled ut genom hålet och begav sig mot stugan <br>
      för att hämta yxor för nu jävlar skulle de hämnas på <br>
      Svullo och Åke.<br>
      <br>
      [A]<br>
      Svullo och Åke hade blivit värvade av Svålen och hjälpte <br>
      honom med inbrottet. När "THE DYNAMIC QUARTETT" kom dit <br>
      var redan bovarna ihopbuntade av den duktiga Elektroluxen <br>
      Bros, så det var bara att ringa efter polischefen, som <br>
      efterskänkte Hans och Bengts TV-licenser av ren lycka.<br>
        "Dunder och dammsugare" sa Robin,"nu måste vi ge oss <br>
      av."<br>
        "Ja" sade BATMAN,"nu ska vi jaga den Förskräcklige <br>
      Doktor Frukt." Med dessa ord flaxade de iväg med sina <br>
      starka läderlappsvingar.<br>
      <br>
      <br>
      Kapitel 6<br>
      <br>
        "Det var det" sa Ormskinns-Bengt,"ska vi åka till <br>
      staden och shoppa nu?"<br>
        "Stad, vad är det?" undrade Hans, som inte hade varit <br>
      ute och rört på sig så mycket.<br>
      <br>
      [P]<br>
      Då tog Ormskinns-Bengt och ringde efter Gatukontoret som <br>
      kom och smäckte upp en tunnelbanestation hos Trulsa i <br>
      Träsket (svängen). Eftersom tunnelbanebygget tog en stund <br>
      hann de båda äta lunch först. Efter lunchen gick de och <br>
      köpte varsitt dagskort på tunnelbanan. Sedan åkte de in <br>
      till den stora Staden Trams.<br>
      <br>
      [U]<br>
      När de kom till den stora staden Trams så var det <br>
      alldeles tomt där.<br>
        "Vart är alla människor?" frågade Bengt.<br>
        "Det måste ha hänt nåt förskräckligt" sade Hans. När <br>
      de två hjältarna kom till torget såg de något <br>
      fruktansvärt: Den stora fruktansvärda Challenge hade <br>
      landat.<br>
        "Urk, Bläh" en Challenge-terminal, sade Bengt. Hans <br>
      gick fram till en av terminalens legoknappar och försökte <br>
      trycka på den. Helt plötsligt slukade Challenge-<br>
      terminalen Hans och kvar blev det bara några bytes.<br>
        "Hjälp" skrek Bengt så att ormskinnet skrumpnade. "Du <br>
      har ätit upp min bästa vän, akta dig så att jag inte <br>
      skickar den stora stygga PS-2an på dig" fortsatte Bengt <br>
      utan hud.<br>
      <br>
      [T]<br>
        "Kors!" utbrast Bengan,"Nu talar du om var alla <br>
      människor är, annars loggar vi ut dig!"<br>
        "Aldrig i livet!"<br>
        "Nu ska du tale, plastbörk!" sa Bengt utan hud till <br>
      Challengen och slog näven i keyboarden. Då skramlade det <br>
      till i Challengen och ut ramlade alla människor som fanns <br>
      där inne, för de hade fastnat i en filbuffert.<br>
      <br>
      [U]<br>
      Ut ur Challengen kom de mest mystiska människor Bengan <br>
      någonsin sett. En utav dem var en meter hög och utbrast <br>
      plötsligt:<br>
        "Hey, my name is Alf and I´m stuck on earth, I can´t <br>
      get back to my place of birth, I´m making the best of a <br>
      bad situation, think of it as an extended vacation."<br>
      <br>
      [G]<br>
      Det var Bengts kompis från Kuala-Lumpur som blivit <br>
      uppäten först av alla och lärt sig ett annat språk samt <br>
      skolat om sig till profet istället för försäljare. Han <br>
      var dock ganska mager och hårig. Profeten Alf Sade:<br>
        "Slutet är nära" varpå Universum exploderade.<br>
      <br>
      <br>
      Kapitel 7<br>
      <br>
      [A]<br>
        "Skönt" sa Hans, som just krupit ut ur <br>
      Challengen."Hon var stans fulaste hora.Nu vill jag på <br>
      bio. Sen ska vi på restaurang, för maten på det där <br>
      hotellet var inget vidare." Han var inte alls så tyst och <br>
      försynt som han brukade. Äggskals-Bengt blev mycket <br>
      förvirrad. Hans fortsatte:<br>
        "Åsså vill jag på tivoli och jag vill köra bil, fast <br>
      först måste jag ta körkort och så ska jag till frisören <br>
      och få nån häftig frissa, och sen ska jag snajda upp mej <br>
      i nåra snygga kläder och..."<br>
      <br>
      [T]<br>
        "Vänta " skrek Bengt med skalet."Ta't lugnt"<br>
        "...Åsså vill jag skaffa en hobby och och..." Smock! <br>
      lät det när Äggskals-Bengts knutna högerhand träffade <br>
      Hans' hakspets med en kraft av 500 N.<br>
        "Sådär. Nu fick vi tyst på'n." Bengt banade väg genom <br>
      folkmassan medan Alf fick bära på den avsvimmade Hans. <br>
      Trängseln var enorm och Äggskals-Bengt och Alf fick <br>
      stönande och stånkande kämpa sig fram. Plötsligt <br>
      blockerades deras väg av ett gäng stora ludna lurkar som <br>
      tydligen trodde att våra hjältar bar på något värdefullt.<br>
        "Stopp där!" sa den störste lurken.<br>
      <br>
      [G]<br>
        "Tjena" sa Alf,"e vi slekt,håriga idoler?"<br>
        "Ja" sade Snorlins som var den störste lurken.<br>
        "Vill ni med hem till Bengt och se på TV?" frågte <br>
      Alf.<br>
        "JA" skrek lurkarna varpå de glatt skuttade iväg och <br>
      glömde Hans på torget.<br>
      <br>
      [U]<br>
      När Hans vaknade upp var det mitt i natten och allt han <br>
      såg var 300 oranga Volvo 142 som åkte runt,runt ,runt, <br>
      runt,runt. "Det ser skojigt ut" tänkte Hans och gick fram <br>
      till en av 'bilarna'.<br>
        "Får jag också vara med?" sa Hans.<br>
        "Ska'ru ha en smäll eller?" frågade en äcklig, <br>
      slemmig, fet och ful gubbe i Volvon.<br>
        "Vad är du för någon?" sa Hans.<br>
        "Jag är raggaren Rutger" sa raggaren Rutger.<br>
      Det visade sig att Rutger inte alls var farlig, han <br>
      jobbade på pappersbruk och var snällare än en höna. <br>
      Raggaren och Hans tog Volvon och åkte hem till Hans <br>
      stuga.<br>
      <br>
      [A]<br>
      Där satt ju redan Alf och hans ludna kusiner och såg på <br>
      TV, och raggare går ju inte ihop med luder som vi ju så <br>
      väl vet. Däremot så sitter de gärna tillsammans, alltså <br>
      satte sig Rutger och Hans också vid TVn.<br>
        "Jag hämtar några snacks" sa Äggskals-Bengan, som <br>
      inte så gärna ville sitta så trångt på grund av skalet <br>
      som han för tillfället bar. Han hämtade de grönhåriga <br>
      resterna av pyttipannan och skulle just börja skicka runt <br>
      skålen, då någon skrek:<br>
        "Vänta, jag vill också se på TV, sätt mej på bordet <br>
      så ser jag bra."<br>
      <br>
      [T]<br>
        "Vem sa nåt" undrade raggaren Rutger.<br>
        "Inte jag" sa Bengt, vars skal såg ut att sitta löst.<br>
        "Inte jag" sa Hans.<br>
        "Inte jag" sa Alf och hans kusiner unisont.<br>
        "Och inte jag" sa Rutger.<br>
        "Jag vill se på TV jag med" sa rösten igen. Över <br>
      kanten på skålen kom två gröna händer.<br>
        "Hej, jag är Mögel-Persson" sa en grön, lurvig <br>
      gestalt."Dä va bra att ni glömde diska bort pyttipannan <br>
      så att jag föddes, tack ska ni ha."<br>
        "Ingen orsak" sa Hans,"det var så lite så." Nu när <br>
      det var uppklarat kunde alla se på TV.<br>
        "Hurra" sa Alf,"jag är på TV igen!"<br>
      <br>
      [G]<br>
      Det var Alf som stod och riktade damsugarslangen mot sig <br>
      själv. I tre kvart hade han en häftig show framför <br>
      slangen. Bengt skrattade så skalet fragmenterades och <br>
      ramlade av.<br>
        "Nu ska jag sätta på kaffe" sade Bengt och gick in i <br>
      rummet bredvid, där Kaffe bodde. När Kött-Bengt passerade <br>
      Alfs håriga släktingar blevo de så skrämda av Kött-Bengts <br>
      utseende att de försvann i ett moln av oljig rök.<br>
      <br>
      <br>
      Kapitel 8<br>
      <br>
      [U]<br>
      Plötsligt knackade det på dörren och Hans gick för att <br>
      öppna. Pang, pang, pang hördes det från dörren. Det var <br>
      en galen mördare från Texas. Han dödade Hans och gick in <br>
      i TV-rummet, där han sköt ihjäl Alf, Bros, Rutger och <br>
      Mögel-Persson, tyvärr råkade en rikoschett träffa <br>
      mördaren så han dog också.<br>
      <br>
      Kapitel 9<br>
      <br>
      [A]<br>
      Under tiden hade Bengan blivit klar med påsättandet av <br>
      Kaffe, och även hunnit uträtta resten av ärendet. De gick <br>
      ut i TV-rummet och såg röran. Det var bara säljalen Alfs <br>
      dammsugare som levde, så Bengan, som nu hade granbark, <br>
      sade åt dammsugaren att suga upp de döda, istället för <br>
      att suga sig själv.<br>
      <br>
      [T]<br>
        "Vänta lite.... nu är jag färdig" sade dammsugaren <br>
      varpå den effektivt avlägsnade allt slafs i huset.Tyvärr <br>
      råkade vissa delar av huset också följa med, varvid det <br>
      blev obeboeligt för all framtid.<br>
        "Håhåjaja" suckade Granbarks-Bengt. Han gick ut ur <br>
      huset. Han var så bedrövad över allt som att han inte såg <br>
      sig för vart han gick, och han gick rakt mot sin brunn. <br>
      Ett skrik hördes över hembygden när Bengt med granbarken <br>
      ramlade ner i brunnen. "Nu drunknar jag" tänkte han medan <br>
      han föll allt djupare och djupare, men den tanken gick <br>
      inte i uppfyllelse för brunnen var torrlagd. Bonk! lät <br>
      det när Bengts kropp anbringades mot botten av brunnen.<br>
        "Tjoflöjt" sa Bengt,"Vattnet var slut.""Vad nu" <br>
      tänkte han så det knakade i granbarken, här är ju en <br>
      tunnel." Han kröp in i tunneln. Det var kolmörkt. Han <br>
      kröp och kröp i vad som verkade en evighet. Nu lutade <br>
      tunneln uppåt och snart hade Granbarks-Bengt en lucka <br>
      ovanför sitt huvud. Han öppnade luckan och tittade ut. <br>
      Där såg han läktare med massor av åskådare, en ful <br>
      orkester som spelade ful musik och två särskilt dumma <br>
      personer.<br>
        "Vad gör du här?" sa den ena.<br>
        "Var kommer du ifrån?" sa den andra.<br>
        "Var är jag?" sa Granbarks-Bengt.<br>
        "Det här är en direktsändning av Zick Zack" sa de <br>
      till Bengt medan en närbild av honom spreds över hela <br>
      Sverige.<br>
      <br>
      [G]<br>
      Hans tryne syntes i rutan i mindre än fem sekunder innan <br>
      han spydde ner den p.g.a. Monica Dominiqueäuäues tryne. <br>
      Med en mumsig stråle ur sin mun vände han sig mot henne <br>
      och prydde henne med en mysig substans. Genast blev hon <br>
      mycket snyggare än Pa som stod bredvid.<br>
        "5" sade Rolle som var gästartist idag.<br>
        "BINGO" vrålade Bengt med spyorna sprutande över hela <br>
      studion.<br>
        "Jag kan lira hocky" sade Rolle och gav Bengt en hel <br>
      säck med puckar.<br>
        "Hurra" sade Bengt varpå han och Rolle sjöng Rosen av <br>
      Arne Qvick i en ljuv Duett. Sedan tryckte Rolle gasen i <br>
      botten och körde ut i livet genom en studiovägg.<br>
      <br>
      [U]<br>
      När Duetten fick en hastighet av 200 km/h blev den <br>
      plötsligt en tidsmaskin och Bengan och Rolle åkte <br>
      tillbaka till feodaltiden.<br>
        "OH Shit" sa Bengan,"nu sitter vi fast i en leråker, <br>
      hur ska vi nu få upp Duetten i 200 km/h"<br>
        "Det ordnar sig" sa Rolle,"nu går vi på en promenad.<br>
      <br>
      [A]<br>
      Så mycket hade han aldrig förr sagt i en följd, så han <br>
      blev alldeles utmattad, och somnade i Duetten (modell -<br>
      62, naturligtvis). Bengt gick fram till en bonde i <br>
      närheten och frågade varför i helvete de odlade lera på <br>
      åkern.<br>
        "Det har vi att bygga våra hus med" svarade den dumma <br>
      bonden.<br>
        "det blir mycket bättre hus med betong" berättade <br>
      Granbarks-Bengt då, medan han sakta började ömsa skinn <br>
      igen. Han kände efter i fickan och hittade några frön av <br>
      snabbväxande betong, som hade halkat in där när han föll <br>
      ner i sin brunn (den han hade på framlidne Hans' gård).<br>
        "Här får du några frön, prova dem." Bonden gjorde så, <br>
      och några minuter senare hade en äkta betongautobahn <br>
      vuxit upp ur leråkern.<br>
      <br>
      [T]<br>
        "Men du" sa Rolle,"hur ska vi få opp kärran på <br>
      vägen?"<br>
        "Det fixar jag "sa Bengt. Han tog några bitar från <br>
      sin lossnade granbark och la under hjulen på Duetten och <br>
      satte sig och körde upp från åkern och upp på vägen.<br>
        "Hallå där" sa en man som ledde en grupp beväpnade <br>
      soldater,"vad i lagens namn gör ni. Var kommer det här <br>
      ifrån" och pekade på motorvägen.<br>
        "Vi bara sådde lite frön" sa Bengt.<br>
        "Aha" sa mannen,"trolldom, häxeri, onda makter, ni <br>
      måste stå i förbund med Satan !!!"<br>
        "Nejdå" sa Rolle,"vi kommer bara från 1900-talet.<br>
        "Lögnare" skrek mannen,"jag dömer er till DÖDEN!!! <br>
      Era kroppar kommer att styckas i småbitar och slängas ut <br>
      som fågelmat. Soldater, grip dem !!!"<br>
        "Dags å dra nu va" sa Rolle till Bananskals-Bengt.<br>
        "Ållrajt. Bye bye folks, nice meeting you" sa BS-<br>
      Bengt och tryckte gasen i botten. Vrooom!<br>
      <br>
      [G]<br>
      Efter en stund var de ute och flög i tiden igen. I slutet <br>
      av 1300-talet knuffade Bengt ut Rolle någonstans i Närke <br>
      (vid en liten sjö (så att han inte skulle slå sig)) När <br>
      han slog igen bildörren fastnade Bengt med luggen i den. <br>
      Med mycket möda fick han ur den igen vilket gjorde honom <br>
      lycklig. En kvart innan Hans hus förstörts stannade han <br>
      bilen och klev ur, lade en tegelsten på gaspedalen och <br>
      vinkade farväl till Duetten. Lycklig över att återse <br>
      Kaffe sprang han långt in i skogen och plockade murklor. <br>
      Hans hud började växa ut igen. Plötsligt kändes en <br>
      konstig doft bakom Moss-Bengt.<br>
      <br>
      [U]<br>
        "Det luktar kaffe" sa Bengan. och visst var det Kaffe <br>
      som kom springande. Kaffe såg jätterädd ut när hon såg <br>
      Moss-Bengt:<br>
        "Men du satte ju just på mig" sa Kaffe.<br>
        "Javisst, men nu är jag här" sade Bengan,"ska vi gå <br>
      och se på TV."<br>
        "JAAAAA!" skrek Kaffe. Så gick de till huset och hann <br>
      fram lagom för att stoppa uppsugningen av huset, sedan <br>
      satte de sig och såg på Zick Zack.<br>
      <br>
      <br>
      <br>
      SLUT<br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>
</body>
<router-outlet></router-outlet>
